<div class="about_box">
    <div class="about_box_width">
        <div class="about_box_title">
            <p>ABOUT ME</p>
        </div>
        <div class="about_box_desc">
            <div class="about_box_desc_left">
                <div class="about_box_desc_left_width">
                    <p>
                        Mrs all projecting favourable now unpleasing.
                        Son law garden chatty temper. Oh children provided to mr elegance marriage strongly.
                        Off can admiration prosperous now devonshire diminution law.
                        domestic to to oh. On relation my so addition branched.
                        Put hearing cottage she norland letters equally prepare too.
                        Replied exposed savings he no viewing as up.
                        Soon body add him hill. No father living really people estate if.
                        Mistake do produce beloved demesne if am pursuit.
                    </p>
                </div>
            </div>
            <div class="about_box_desc_right">
                <div class="about_box_desc_right_width">
                    <div class="about_box_skill">
                        <div class="about_box_skill_title">
                            <p>ddddd</p>
                        </div>
                        <div class="about_box_skill_progress">
                            <div class="about_box_skill_progress_out" style="width: 50%;"></div>
                        </div>
                    </div>
                    <div class="about_box_skill">
                        <div class="about_box_skill_title">
                            <p>sdasdasd</p>
                        </div>
                        <div class="about_box_skill_progress">
                            <div class="about_box_skill_progress_out" style="width: 45%;"></div>
                        </div>
                    </div>
                    <div class="about_box_skill">
                        <div class="about_box_skill_title" style="width: 75%;">
                            <p>aaaaaa</p>
                        </div>
                        <div class="about_box_skill_progress">
                            <div class="about_box_skill_progress_out" style="width: 65%;"></div>
                        </div>
                    </div>
                    <div class="about_box_skill">
                        <div class="about_box_skill_title">
                            <p>qqqq</p>
                        </div>
                        <div class="about_box_skill_progress">
                            <div class="about_box_skill_progress_out" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="about_box_skill">
                        <div class="about_box_skill_title">
                            <p>vvww</p>
                        </div>
                        <div class="about_box_skill_progress">
                            <div class="about_box_skill_progress_out">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="photo_my_box">
            <div class="photo_my_box_width">
                <div class="photo_my_box_img">
                    <img [src]="about_img_url" alt="">
                </div>
            </div>
        </div>
    </div>
</div>