<div class="home_box" [ngStyle]="{height: window_height}">
    <div class="home_box_width">
        <div class="home_box_desc">
            <div class="home_box_desc_img">
                <img [src]="home_logo" alt="">
            </div>
            <div class="home_box_desc_text">
                <div class="home_box_desc_text_name">
                    <p>
                        {{home_name}}
                        <span class="home_desc_edit" (click)="show_home_name_box()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <div [@home_name]="home_name_show" class="change_home_name">
                    <input type="text" (change)="change_home_name($event)" ngModel="{{home_name}}">
                </div>
                <div class="home_box_desc_text_desc">
                    <p>
                        {{description_user}}
                        <span class="home_desc_edit" (click)="show_home_desc_box()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>

                    </p>
                    <div [@home_desc]="desc_home" class="change_home_desc">
                        <textarea name="" id="" (change)="change_desc_user($event)">
                            {{description_user}}
                        </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>