    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
    <header>
        <div class="header_box">
            <div class="header_logo">
                <p>LoGo</p>
            </div>
            <div class="header_menu">
                <div class="header_menu_ul">
                    <ul>
                        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="header_login">
                <div *ngIf="!headerIsAuth" class="loginSignup">
                    <a>Login</a>
                </div>
                <div *ngIf="headerIsAuth" class="logoutUser">
                    <a (click)="logOut()">LogOut</a>
                    <p></p>
                </div>
            </div>
        </div>


    </header>

