header{
    width:100%;
    padding:20px;
    overflow: hidden;
}
.header_box{
}
.header_logo{
    width: 20%;
    float: left;
}
.header_logo p {
    font-size: 22px;
    font-weight: 700;
    color: #00a599;
}
.header_logo img{
    max-width: 100%;
}
.header_menu{
    float: left;
    width: 50%;
    margin-top: 4px;
}
.header_menu ul{
    padding: 0;
    text-align: center;
}
.header_menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}
.header_menu ul li a{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 15px 0px;
    color: #00a599;
}
.header_menu ul li a:hover {
    border-top:3px solid #00a599;
    text-decoration: none;
}
.active{
    border-top:3px solid #00a599;
}
.header_login{
    width: 20%;
    float: right;
}
.header_login a{
    display: inline-block;
    width: 45%;
    text-align: center;
    padding: 4px 0px;
    cursor: pointer;
    color: #ffffff;
    background-color: #00a599;
    border:1px solid #00a599;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.header_login a:hover {
    background-color: #ffffff;
    color: #00a599;
    text-decoration: none;
}
.content_site{
    width: 90%;
    margin: 0 auto;
}


/* HOME */

.home_box{
    width: 100%;
    background: url("app/assets/img/home.jpg") center center no-repeat;
    background-size: cover;
}
.home_box_width{
    width: 70%;
    margin: 0 auto;
}
.home_box_desc_img{
    width: 150px;
    margin: 0 auto;
    padding-top: 15%;
}
.home_box_desc_img img{
    max-width: 100%;
}
.home_box_desc_text{
    margin-top: 50px;
    text-align: center;
}
.home_box_desc_text_name{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}
.home_box_desc_text_desc{
    text-align: center;
    position: relative;
    font-size: 18px;
    color: #ffffff;
}
.home_desc_edit i {
    cursor: pointer;
    padding-left: 15px;
    font-size: 15px;
    color: #dddddd;
}
.change_home_desc{
    color: #333333;
    font-size: 14px;

}
.change_home_desc textarea{
    width: 50%;
    margin: 0 auto;
    height: 50px;
    border:1px solid #b1b1b1;
    resize: none;
    -webkit-transition:all 0.5s; /* Safari */
    transition: all 0.5s;
    padding: 0 15px;
}
.change_home_desc textarea:focus {
    outline:none;
    -webkit-box-shadow: 0px 0px 10px 2px #dddddd;
    -moz-box-shadow: 0px 0px 10px 2px #dddddd;
    box-shadow: 0px 0px 10px 2px #dddddd;
}
.change_home_name {
    margin-bottom: 20px;
}
.change_home_name input{
    width: 50%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #b1b1b1;
    -webkit-transition:all 0.5s; /* Safari */
    transition: all 0.5s;
}
.change_home_name input:focus {
    outline:none;
    -webkit-box-shadow: 0px 0px 10px 2px #dddddd;
    -moz-box-shadow: 0px 0px 10px 2px #dddddd;
    box-shadow: 0px 0px 10px 2px #dddddd;
}

/* About */
.about_box{
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}
.about_box_width{
    width: 90%;
    margin: 0 auto;
}
.about_box_title{
    margin: 0 auto 35px;
    text-align: center;
}
.about_box_title p {
    display: inline-block;
    font-size: 45px;
    color: #333333;
    padding: 5px 30px;
    border-top: 1px solid #00a599;
    border-bottom: 1px solid #00a599;
}
.about_box_desc{
    width: 100%;
    overflow: hidden;
}
.about_box_desc_left{
    float: left;
    width: 50%;
}
.about_box_desc_left_width{
    width: 90%;
    margin: 0 auto;
}
.about_box_desc_left_width p {
    font-size: 16px;
    color: #00a599;
}
.about_box_desc_right{
    width: 50%;
    float: left;
}
.about_box_desc_right_width{
    width: 90%;
    margin: 0 auto;
}
.about_box_skill{
    width: 100%;
    margin-bottom: 15px;
}
.about_box_skill_title p{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.about_box_skill_progress{
    position: relative;
    width: 100%;
    padding: 15px 0;
    background-color: #dddddd;
}
.about_box_skill_progress_out{
    width: 50%;
    position: absolute;
    height: 100%;
    top:0;
    background-color: #00a599;
}
.photo_my_box_width{
    width: 40%;
    margin: 25px auto 0;
    text-align: center;
}
.photo_my_box_img img{
    max-width: 100%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.upload{
    width: 20%;
}

/* Login Page */

.login_page{
    width: 100%;
}
.login_page_width{
    width: 100%;
    margin: 25px auto;
}
.login_page_box{
    position: relative;
    width: 100%;
    margin: 0 auto;
    /*border:1px solid #b1b1b1;*/
    padding: 30px;
    /*-webkit-border-radius:5px;*/
    /*-moz-border-radius:5px;*/
    /*border-radius:5px;*/
    /*box-shadow: 0px 0px 10px 0px #00a599;*/
}
.loginModalBox modal-content{
    border:1px solid #b1b1b1;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px #00a599;
}
.login_page_box_title{
    text-align: center;
    font-size: 22px;
    color: #00a599;
    font-weight: 600;
    margin-bottom: 30px;
}
.login_page_box_title p{
    display: inline-block;
    padding: 4px 30px;
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
}
.error_login{
    opacity: 0;
    position: absolute;
    top: 29px;
    right: 2%;
    border-radius: 5px;
    background: rgba(255,0,0,0.2);
    padding: 10px;
    text-align: center;
    color: #900;
    margin-bottom: 20px;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
}
.error_login_mod{
    opacity: 1;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
}
.error_login p{
    margin: 0;
}
.login_page_form{
    width: 80%;
    margin: 0 auto;
}
.login_page_form input{
    display: block;
    width: 100%;
    margin: 10px 0;
    border:1px solid #b1b1b1;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 5px 15px;
    -webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
}
.login_page_form input:focus {
    outline:none;
    -webkit-box-shadow: 0px 0px 10px 0px #00a599;
    -moz-box-shadow: 0px 0px 10px 0px #00a599;
    box-shadow: 0px 0px 10px 0px #00a599;
}
.login_page_form button {
     width: 100%;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    background-color: #ffffff;
    color: #00a599;
    font-weight: 600;
    -webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
}
.login_page_form button:hover {
    background-color: #00a599;
    color: #ffffff;
}
.login_page_form input.ng-pristine,.login_page_form input.ng-invalid{
    border-left: 5px solid darkred;
}
.login_page_form input.ng-valid{
    border-left: 5px solid darkgreen;
}
.login_page_form button:disabled {
    border:1px solid #900;
}
.login_page_form button:disabled:hover {
    color: #333333;
    background-color: #ffffff;
}
.loginSignup{
    text-align: right;
}
.logoutUser{
    text-align: right;
}
