<div class="login_page">
    <div class="login_page_width">
        <div class="login_page_box">
            <div class="login_page_box_title">
                <p>Log In</p>
            </div>
            <div class="login_page_form">
                <div class="error_login" [class.error_login_mod]="wrongLogin">
                    <p>Something went wrong!</p>
                </div>
                <form [formGroup]="loginForm" (submit)="doLogin()">
                    <input type="text" #email_user formControlName="user_mail">
                    <input type="password"  formControlName="user_pass">
                    <button type="submit" [disabled]="!loginForm.valid">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>